.root {
    position: fixed;
    left: initial;
    right: initial;
    bottom: 1.25rem;
    height: 3rem;
    z-index: 120;
    width: fit-content;
    box-shadow: var(--mantine-shadow-md);
    border: rem(1px) solid
        light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
    background-image: linear-gradient(
        to right,
        var(--mantine-color-blue-filled),
        var(--mantine-color-blue-filled)
    );
    /* outline-offset: -10px; */
    /* display: none; */
}

.control {
    &::before {
        display: none;
    }
}

.label {
    &,
    &:hover {
        &[data-active] {
            color: var(--mantine-color-red);
        }
    }
}
